*{
	margin:0;
	padding:0;
}
#main{
	position: absolute;
	position:30px 10px;
}
.box{
	padding:15px 0 0 15px;
	float: left;
}
.pic{
	padding: 15px;
	
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	
}
